* {
    font-family: Montserrat;
}

body {
    transition: 1s;
}

.home_slide {
    z-index: -1;
}

.intro {
    position: absolute;
    margin-top: -57%;
    width: 40%;
    height: 60%;
    padding: 1%;
    z-index: 4;
}

.intro img {
    margin-left: 1%;
}

.mini-screen-bg {
    display: none;
}

h1 {
    margin-left: 22%;
    margin-top: 25%;
    color: #13ffb0;
    font-size: 35px;
    font-weight: bold;
}

h1 span {
    color: #ffffff;
    font-size: 30px;
}

P {
    font-size: 20px;
    text-align: center;
}

.input-btn {
    margin-left: 23%;
    margin-top: 20%;
}

#sign-up {
    text-decoration: none;
    height: 40px;
    width: 120px;
    background-color: #13ffb0;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    transform: skew(-15deg);
    -webkit-transition: width 1s;
    transition: width 1s;
}

#log-in {
    text-decoration: none;
    height: 40px;
    width: 120px;
    background-color: #13a1ff;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    transform: skew(-15deg);
    -webkit-transition: width 1s;
    transition: width 1s;
}

input,
textarea,
button {
    outline: none;
}

#sign-up:hover {
    width: 180px;
}

#log-in:hover {
    width: 180px;
}

@media screen and (max-width:750px) {
    .mini-screen-bg {
        z-index: -2;
        margin-top: -7%;
        margin-left: -2%;
        width: 100%;
        display: block;
    }
    .intro {
        position: absolute;
        margin-top: -100%;
        padding: 1%;
        z-index: 1;
    }
    .intro img {
        position: absolute;
        margin-top: -98%;
        margin-left: 1%;
        width: 150px;
    }
    h1 {
        margin-top: 4%;
        margin-left: 10%;
        font-size: 25px;
    }
    h1 span {
        font-size: 15px;
    }
    .input-btn {
        display: block;
        margin-left: 10%;
        padding: 0%;
    }
}