* {
    margin: 0%;
    padding: 0%;
    font-family: Montserrat;
    color: snow;
}

body {
    background-color: #001a2d;
    transition: 1s;
}

ul {
    position: relative;
    margin-left: 25%;
    margin-top: -25%;
}

hr {
    width: 60%;
    margin-left: -3%;
}

.form-body {
    background-color: #111f2e;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    height: 720px;
    transform: skew(-10deg);
}

div img {
    margin: 6%;
    margin-left: 38%;
    animation-name: fade;
    animation-duration: 1s;
}

h2 {
    font-size: 20px;
    margin-top: -7%;
    padding: 1%;
    color: #13ffb0;
    text-align: center;
    animation-name: fade;
    animation-duration: 1s;
}

#form-div {
    margin-left: 25%;
}

form {
    margin-left: 0%;
    margin-top: 10%;
    padding: 1%;
    width: 70%;
    align-self: auto;
    animation-name: fade;
    animation-duration: 1s;
}

.input-field {
    margin: 7px;
    padding: 3px;
    width: 80%;
    height: 30px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #111f2e;
    transition: 1s;
}

.radio-btn {
    position: relative;
    margin: 15px;
    margin-left: 6%;
}

.radio-label {
    font-size: 15px;
    font-weight: normal;
    color: gray;
}

label {
    font-weight: bold;
}

input,
textarea,
button {
    outline: none;
}

.input-field:hover {
    width: 100%;
}

#submit-btn {
    text-decoration: none;
    height: 35px;
    width: 120px;
    background-color: #13ffb0;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 30%;
    transform: skew(-10deg);
}

#submit-btn:hover {
    background-color: #13b37d;
}

@media screen and (max-width:750px) {
    .form-body {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -1%;
        height: 720px;
    }
    div img {
        margin-left: 30%;
    }
    form {
        margin-left: -10%;
        margin-top: 15%;
        padding: 1%;
        width: 70%;
    }
    .input-field {
        width: 100%;
        transition: 1s;
    }
    .input-field:hover {
        width: 120%;
    }
}

@keyframes fade {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}