* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    animation-name: fade;
    animation-duration: 0.5s;
}

Header {
    position: fixed;
    text-decoration: none;
    background-color: #001a2d;
    height: 45px;
    width: 100%;
    z-index: 1;
}

header img {
    padding-top: 3px;
    margin-left: 1%;
    height: 30px;
    width: 30px;
}

header form {
    position: absolute;
    margin-left: 65%;
    width: 100%;
    margin-top: -3%;
}

header input {
    width: 20%;
    background: #001a2d;
    border: none;
    transform: skew(-10deg);
    border-bottom: solid;
    border-color: gray;
    color: #ffffff;
    outline-style: none;
}

header button {
    padding: 1px;
    margin-left: 1%;
    border: none;
    background: none;
    outline-style: none;
    transition: 0.6s;
}

#cancel {
    position: absolute;
    margin-left: 90%;
}

.people-nav {
    position: fixed;
    margin-top: 3.5%;
    margin-left: 1%;
}

.tab li {
    position: relative;
    display: inline-block;
}

.tab img {
    width: 20px;
    height: 20px;
}

.tab button {
    padding: 4px;
    margin-left: 1%;
    width: 330px;
    border: none;
    background: none;
    outline-style: none;
}

.search-result {
    position: absolute;
    margin-top: 7%;
    margin-left: 1%;
    width: 100%;
}

.search-result ul {
    list-style: none;
}

.search-result li {
    padding: 5px;
}

.search-result p {
    font-size: 12px;
    margin-left: 3%;
    margin-top: -1.5%;
}

header button:hover {
    transform: scale(1.1, 1.1);
    filter: contrast(160%);
}

.tab button:active {
    background-color: #001a2d3f;
    filter: contrast(160%);
}

.tab button:hover {
    background-color: #001a2d11;
}

@keyframes fade {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}