* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

Header {
    position: fixed;
    text-decoration: none;
    background-color: #001a2d;
    height: 45px;
    width: 100%;
    z-index: 1;
}

h3 {
    margin-top: 3px;
    padding: 5px;
    color: snow;
}

.nav-links {
    margin-top: 0%;
    padding: 10px;
    float: right;
    z-index: 1;
    transition: 1s;
}

.icon {
    margin-top: 0%;
    padding-right: 30px;
    height: 20px;
    width: 20px;
    z-index: 1;
    transition: 1s;
}

#logo-section {
    float: left;
    width: 100%;
}

#logo {
    padding: 10Px;
    height: 30px;
}

#profile-pic {
    margin-top: 55px;
}

a {
    color: black;
    font-family: Montserrat;
    text-decoration: none;
}

.profile-info {
    font-weight: bold;
    margin-left: 8%;
    margin-top: -5.5%;
    transition: 1s;
}

#post-area {
    margin-left: 60%;
    /* margin-top: -6%; */
    margin-top: -64px;
    transition: 1s;
}

.mainprofile form img {
    position: relative;
    margin-left: 0.5%;
    border-radius: 50%;
    box-shadow: 0px 0px 3px gray;
    transition: 1s;
}

textarea {
    border-style: solid;
    border-radius: 20px;
    border-color: #111f2e;
    height: 80px;
    width: 65%;
    padding: 10px;
    resize: none;
    transition: 1s;
}

hr {
    margin: 0.5%;
    align-content: center;
    color: #111f2e;
    size: 90%;
}

#post {
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    text-decoration: none;
    height: 35px;
    width: 80px;
    background-color: #111f2e;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    transition: 1s;
}

.attachment {
    padding-right: 10px;
    padding-top: 7px;
}

.other-posts {
    margin-left: 60%;
}

.tab-justified {
    font-family: Quicksand;
    font-weight: bold;
    width: 100%;
    display: flex;
    /* padding-left: 5%; */
    justify-content: space-between;
}

.posts {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #55565733;
}

.post-profile-pic {
    border-radius: 50%;
}

ul {
    text-decoration: none;
    list-style: none;
}

.post-content {
    font-size: 12px;
    width: 90%;
    padding: 1%;
    margin-left: 3%;
    margin-top: -2%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    box-shadow: 0px 0px 3px gray;
    transition: 1s;
}

#timediv {
    margin-left: 3%;
    padding: 3px;
    font-size: 10px;
    color: rgb(117, 117, 117);
    transition: 1s;
}

.foot {
    width: 100%;
}

.foot-btn {
    background-color: #111f2e;
    color: #ffffff;
    border: none;
    padding: 5px;
    margin-left: 16%;
    transition: 1s;
}

footer {
    position: fixed;
    bottom: 0%;
    background-color: #111f2e;
    color: white;
    width: 100%;
}

.tab-link {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.tab-link:hover {
    background-color: rgb(236, 248, 253);
}

.mainprofile:hover .displayblock {
    display: block;
}

.tab-link:active {
    background-color: #466688;
}

td:tab-link:active {
    border-bottom-style: solid;
    border-bottom-color: #111f2e;
}

table {
    margin-top: -0.75%;
    width: 100%;
}

td {
    border-color: #111f2e;
    text-align: center;
}

#tea {
    border-right-style: none;
}

.teacher-posts {
    margin-left: 4%;
}

.attachment:hover {
    transform: scale(1.1, 1.1);
}

#post:hover {
    background-color: #466688;
}

.icon:hover {
    transform: scale(1.1, 1.1);
}

textarea:active {
    border: none;
    box-shadow: 0px 0px 2px gray;
}

input,
textarea,
button {
    outline: none;
}

@media only screen and (max-width:760px) and (min-width:500px) {
    .profile-info {
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 5%;
        font-size: 14px;
    }
    #post-area {
        margin-left: 35%;
        /* margin-top: -6%; */
        margin-top: -145px;
    }
    textarea {
        border-style: solid;
        border-radius: 20px;
        border-color: #111f2e;
        height: 80px;
        width: 65%;
    }
    hr {
        margin-top: 3%;
        margin: 1.5%;
        align-content: center;
        color: #111f2e;
        size: 90%;
    }
    .other-posts {
        margin-left: 40%;
    }
    .foot-btn {
        padding: 5px;
        margin-left: 20%;
    }
    .post-content {
        margin-left: 7%;
    }
    #timediv {
        margin-left: 7%;
    }
}

@media screen and (max-width:425px) {
    .profile-info {
        margin-left: 1.2%;
        margin-top: 1%;
        margin-bottom: 6%;
        font-size: 10px;
    }
    #post-area {
        margin-left: 35%;
        /* margin-top: -6%; */
        margin-top: -95px;
    }
    #post {
        width: 50px;
        font-size: 12px;
    }
    .mainProfile form img {
        width: 40px;
        height: 40px;
    }
    textarea {
        border-style: solid;
        border-radius: 20px;
        border-color: #111f2e;
        height: 60px;
        width: 50%;
        margin-left: 12%;
        font-size: 10px;
    }
    hr {
        margin-top: 6%;
        margin: 1.5%;
        align-content: center;
        color: #111f2e;
        size: 90%;
    }
    .other-posts {
        margin-left: 40%;
    }
    .foot-btn {
        padding: 5px;
        margin-left: 20%;
    }
    .post-content {
        margin-left: 8%;
    }
    #timediv {
        margin-left: 8%;
    }
    .nav-links {
        padding-right: 1px;
    }
    .icon {
        padding: 5px;
    }
}

@media screen and (max-width:1024px) and (min-width:765px) {
    .profile-info {
        margin-left: 13.5%;
        margin-top: -8%;
        margin-bottom: 3.5%;
    }
    #post-area {
        margin-left: 50%;
        /* margin-top: -6%; */
        margin-top: -100px;
    }
    textarea {
        border-style: solid;
        border-radius: 20px;
        border-color: #111f2e;
        height: 80px;
        width: 65%;
    }
    hr {
        margin-top: 3%;
        margin: 1.5%;
        align-content: center;
        color: #111f2e;
        size: 90%;
    }
    .other-posts {
        margin-left: 50%;
    }
    .foot-btn {
        padding: 5px;
        margin-left: 14%;
    }
    .post-content {
        margin-left: 4%;
    }
    #timediv {
        margin-left: 4%;
    }
}

@media screen and (min-width:1440px) {
    .profile-info {
        margin-left: 8%;
        margin-top: -5%;
        margin-bottom: 3%;
    }
    #post-area {
        margin-left: 70%;
        /* margin-top: -6%; */
        margin-top: -100px;
    }
    .other-posts {
        margin-left: 70%;
    }
}