* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

Header {
    position: fixed;
    text-decoration: none;
    background-color: #13bdff;
    height: 45px;
    width: 100%;
    z-index: 1;
}

#menubar {
    height: 30px;
    width: 40px;
    padding: 5px;
}

.dropdownitem {
    display: none;
    background: #13bdff;
    min-width: 200px;
    /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdownitem a {
    display: block;
    color: snow;
    padding: 10px 20px;
    text-decoration: none;
}

.dropdownitem a:hover {
    background-color: #1893c4;
}

.dropdown {
    position: absolute;
    float: left;
    z-index: 1;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.dropdown:hover .dropdownitem {
    display: block;
}

#ContactUs {
    margin-top: 4px;
    text-decoration: none;
    float: right;
    color: snow;
    border-style: solid;
    border-radius: 17px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#AASTUweb {
    font-size: 30px;
    color: snow;
    text-decoration: none;
    position: absolute;
    right: 40%;
}

#Asset4 {
    position: absolute;
    width: 100%;
}

#welcome {
    position: absolute;
    margin-top: 33%;
    float: left;
}

#welcome img {
    position: absolute;
    height: 550px;
    width: 800px;
    z-index: -1;
}

#welcome p {
    color: snow;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
}

#welcome h1 {
    margin-top: 100px;
    margin-left: 50px;
    color: snow;
    font-weight: bold;
    font-size: 50px;
}

#buttons {
    position: absolute;
    margin-top: 33%;
    z-index: 1;
}

#Signin {
    text-anchor: middle;
    position: absolute;
    margin-left: 76%;
    margin-top: 40%;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px gray;
    background-color: #05ff89;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    color: snow;
    z-index: 1;
}

#login {
    position: absolute;
    margin-left: 76%;
    margin-top: 55%;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px gray;
    background-color: #1893c4;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    color: snow;
    z-index: 1;
}

#Buttons h1 {
    position: absolute;
    margin-left: 81%;
    margin-top: 48%;
}

#Signin:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

#login:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

footer img {
    margin-top: 100%;
    width: 100%;
}